<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuevo curso de formación</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/custom.css" rel="stylesheet" media="screen" th:href="@{/resources/css/custom.css}" />
    <script src="../../../resources/js/jquery-latest.js" th:src="@{/resources/js/jquery-latest.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <!-- Extensión Datepicker para bootstrap http://eonasdan.github.io/bootstrap-datetimepicker/ -->
    <script src="../../../resources/js/moment/min/moment-with-locales.js" th:src="@{/resources/js/moment/min/moment-with-locales.js}"></script>
   
    <script src="../../../resources/js/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" th:src="@{/resources/js/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js}"></script>
    <link href="../../../resources/js/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css" rel="stylesheet" media="screen" th:href="@{/resources/js/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css}" />
    
</head>
<body>
<div th:replace="fragments/header :: usuario">&nbsp;</div>
<div class="container">
    <div class="row">
        <!-- /* Handle the flash message */-->
        <th:block th:if="${message != null}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
        </th:block>
        
        <div class="row contenedor-principal">
             <div class="col-md-3">
                <div class="list-group">
                    <p href="#" class="list-group-item cabecera-menu-principal-izquierda"><strong>Opciones</strong></p>
                <div  th:if="${hasCurriculum == true or curriculum != null}">
                    <a class="list-group-item active" th:href="@{/curriculum/show/} + ${curriculumId}">Mi currículum</a>
                </div>
                <div  th:if="${hasCurriculum != true or curriculum == null}">                    
                    <a class="list-group-item active" th:href="@{/curriculum/create}">Crear currículum</a>
                </div>
                <div  th:if="${hasCurriculum == true}">                    
                    <a class="list-group-item" th:href="@{/curriculum/show/} + ${curriculumId}">Editar currículum</a>
                </div>
                <a th:href="@{/account/userOut}" th:if="${!#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="list-group-item">Darme de baja</a>
                <a class="list-group-item" th:href="@{/admin/delete}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Dar de baja a usuarios</a>
                <a class="list-group-item" th:href="@{/admin/view}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Gestionar funcionalidades</a>
                                
                <a class="list-group-item" href="/logout" th:href="@{#}" onclick="$('#form').submit();">Cerrar sesión</a>
                <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>                
            </div>
                        
            </div>              

            <div class="col-md-9">
                <h2 class="titulo-pagina">Nuevo curso de formación</h2>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="titulo-contenedor-formulario-login">Datos del curso</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-narrow form-horizontal formulario-ficha" method="post" th:action="@{/curso/add}" th:object="${cursoForm}">
                            <!--/* Show general error message when form contains errors */-->
                            <th:block th:if="${#fields.hasErrors('${cursoForm.*}')}">
                                <div th:replace="fragments/alert :: alert (type='danger', message='El formulario contiene errores. Por favor, inténtalo de nuevo.')">Alert</div>
                            </th:block>
                             <input type="text" hidden="hidden" data-th-value="*{curriculumId}" data-th-field="*{curriculumId}" />
                            <fieldset>
                                <div class="form-group" th:classappend="${#fields.hasErrors('descripcion')}? 'has-error'">
                                    <label for="descripcion" class="col-lg-3 control-label">Descripción</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="descripcion" placeholder="Introduce la descripción" th:field="*{descripcion}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Descripción incorrecta</span>
                                    </div>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('numeroHoras')}? 'has-error'">
                                    <label for="numeroHoras" class="col-lg-3 control-label">Número de horas</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="descripcion" placeholder="Introduce el número de horas" th:field="*{numeroHoras}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('numeroHoras')}" th:errors="*{numeroHoras}">Número incorrecto</span>
                                    </div>
                                </div>

                                <div class="form-group" th:classappend="${#fields.hasErrors('fechaFinalizacion')}? 'has-error'">
                                    <label for="fechaInicio" class="col-lg-3 control-label">Fecha de Finalización</label>
                                    <div class="col-lg-9">     
                                        <div class="input-group date" id="datetimepicker1" style="margin:0px;" onkeydown="return false;">
                                            <input type="text" class="form-control" id="fechaFinalizacion" placeholder="Introduce al fecha de finalización" style="cursor:not-allowed;" th:field="*{fechaFinalizacion}"/>
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-list-alt"></span>
                                            </span>                      
                                            <span class="help-block" th:if="${#fields.hasErrors('fechaFinalizacion')}" th:errors="*{fechaFinalizacion}">Fecha incorrecta</span>
                                        </div>                                    
                                    
                                        <script type="text/javascript">
                                            $(function () {
                                                $('#datetimepicker1').datetimepicker({
                                                    locale: 'es',
                                                    format: "DD/MM/YYYY",
                                                    minDate: "1/1/1800",                    
                                                    maxDate: "31/12/2100",
                                                    defaultDate:new Date
                                                });
                                                $("#datetimepicker1").on("dp.change", function (e) {
                                                    $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
                                                });
                                            });
                                        </script>
                                    </div>
                                </div>

                                
                                <div class="contenedor-botones-inferiores-formulario"> 
                                    <div class="form-group">
                                            <button type="submit" class="btn btn-success pull-right" style="margin-right:10px">Guardar</button>
                                    </div>
                                </div>                                                
                               
                            </fieldset>
                        </form>

                    </div>    
                </div>    
            </div>
        </div>    
    </div>
    <div th:replace="fragments/footer :: footer"></div>    
</div>   
</body>
</html>