<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuevo curso de formación</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/custom.css" rel="stylesheet" media="screen" th:href="@{/resources/css/custom.css}" />
    <script src="../../../resources/js/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: usuario">&nbsp;</div>
<div class="container">
    <div class="row">
        <!-- /* Handle the flash message */-->
        <th:block th:if="${message != null}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
        </th:block>
        
        <div class="row contenedor-principal">
              <div th:include="fragments/lateral :: lateral">&nbsp;</div>

            <div class="col-md-9">
                <h2 class="titulo-pagina">Nuevo curso de formación</h2>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="titulo-contenedor-formulario-login">Datos del curso</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-narrow form-horizontal formulario-ficha" method="post" th:action="@{/curso/add}" th:object="${cursoForm}">
                            <!--/* Show general error message when form contains errors */-->
                            <th:block th:if="${#fields.hasErrors('${cursoForm.*}')}">
                                <div th:replace="fragments/alert :: alert (type='danger', message='El formulario contiene errores. Por favor, inténtalo de nuevo.')">Alert</div>
                            </th:block>
                             <input type="text" hidden="hidden" data-th-value="*{curriculumId}" data-th-field="*{curriculumId}" />
                            <fieldset>
                                <div class="form-group" th:classappend="${#fields.hasErrors('descripcion')}? 'has-error'">
                                    <label for="descripcion" class="col-lg-3 control-label">Descripción</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="descripcion" placeholder="Introduce la descripción" th:field="*{descripcion}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Descripción incorrecta</span>
                                    </div>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('numeroHoras')}? 'has-error'">
                                    <label for="numeroHoras" class="col-lg-3 control-label">Número de horas</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="descripcion" placeholder="Introduce el número de horas" th:field="*{numeroHoras}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('numeroHoras')}" th:errors="*{numeroHoras}">Número incorrecto</span>
                                    </div>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('fechaFinalizacion')}? 'has-error'">
                                    <label for="fechaFinalizacion" class="col-lg-3 control-label">Fecha de finalización</label>
                                    <div class="col-lg-9">
                                        <input type="text" class="form-control" id="fechaFinalizacion" placeholder="Introduce la fecha de finalización" th:field="*{fechaFinalizacion}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('fechaFinalizacion')}" th:errors="*{fechaFinalizacion}">Fecha incorrecta</span>
                                    </div>
                                </div>
                                
                                <div class="contenedor-botones-inferiores-formulario"> 
                                    <div class="form-group">
                                            <button type="submit" class="btn btn-success pull-right" style="margin-right:10px">Guardar</button>
                                    </div>
                                </div>                                                
                               
                            </fieldset>
                        </form>

                    </div>    
                </div>    
            </div>
        </div>    
    </div>
    <div th:replace="fragments/footer :: footer"></div>    
</div>   
</body>
</html>