body{background: #fff;padding-bottom:0px;}
a{color:#00533F!important;}
.navbar a{color:#FFF!important;}
a:hover{color:#04D6A1!important;text-decoration: none;}

.navbar-inverse{background:#00533F;}
.navbar-inverse .navbar-nav > li > a{color:#fff;} 
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {background:#02775A;}
.navbar > .container .navbar-brand {color:#fff;}
.logo{margin-top:-3px;margin-right: 10px;}
.container > .navbar-header, .container > .navbar-collapse {margin-bottom: -5px}

.btn-success{background: #02775A;border:none;color:#fff!important;}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {background:#00A87E;color:#fff!important;}

.btn-mostrar-filtrado{margin-top:6px;}
.btn-mostrar-registro{margin-top:6px;}

.row{margin-left:0px;margin-right: 0px;}

.footer{background:#00533F;height:60px;color:#FFF;border-radius: 4px;}
.texto-footer-izquierda{float:left;padding:20px;}
.texto-footer-derecha{float:right;padding:20px;}
.footer a{color:#fff!important;}
.footer a:hover{color:#04D6A1!important;text-decoration: none;}

.contenedor-formulario-login{margin-left: auto;margin-right: auto;max-width:500px;margin-top:30px;}
.form-narrow{padding:0px;border:none;box-shadow: none;margin-bottom: 0px;}
.titulo-contenedor-formulario-login{margin-top:10px;}
.form-horizontal .control-label {color:#00533F;}
.contenedor-botones-inferiores-formulario{border-top:1px solid #DDD;padding-top:12px;}
.boton-aceptar{width:100%;}

.formulario-ficha{max-width:100%;}
.contenedor-principal{margin-top:30px;min-height: 480px;}
.cabecera-menu-principal-izquierda{color:#00533F;}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {background-color: #B7E2D8; border-color: #DDD;}
.titulo-pagina{margin-top:0px;}
.subir-archivo{border: none;box-shadow: none;padding: 0px;}

.columna-30{width: 30%;}
.columna-70{width: 70%;}

.formulario-opciones-filtrado .form-narrow{background: transparent;margin-top:12px; border:1px solid #fff;padding:17px;}