<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="#{view.index.title}">Modificar CV</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="fragments/header :: usuario">&nbsp;</div>
    <p>
	Modificar CV        
    </p>
	<p>Muestra todos los campos del cv</p>
	<p>i. Localización geográfica (ciudad,país).</p>
    <p>ii. Experiencia profesional (ej. 3 años, 5 años, …).</p>
	<p>iii. Titulaciones(ej. Ingeniero, Ingeniero Técnico, …)</p>
	<p>iv. Conocimientos de una determinada tecnología (ej., java, unix, …)</p>
</body>
</html>