<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Red social profesional. PED14</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/custom.css" rel="stylesheet" media="screen" th:href="@{/resources/css/custom.css}" />
    <script src="../../../resources/js/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
   
</head>
<body>
<div th:replace="fragments/header :: usuario">&nbsp;</div>
<div class="container">
    <div class="row">
        <!-- /* Handle the flash message */-->
        <th:block th:if="${message != null}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
        </th:block>
        
        <div class="row contenedor-principal">
              <div th:include="fragments/lateral :: lateral">&nbsp;</div>

            <div class="col-md-9">
                <h2 class="titulo-pagina">Nuevo curriculum</h2>
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="titulo-contenedor-formulario-login">Datos del curriculum</h3>
                    </div>
                    <div class="panel-body">
                        <form id ="upload-file-form" class="form-narrow form-horizontal formulario-ficha" method="post" th:action="@{/curriculum/add}" th:object="${curriculumForm}">
                            <!--/* Show general error message when form contains errors */-->
                            <th:block th:if="${#fields.hasErrors('${curriculumForm.*}')}">
                                <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
                            </th:block>
                            <fieldset>
                                <div class="form-group" th:classappend="${#fields.hasErrors('nombre')}? 'has-error'">
                                    <label for="nombre" class="col-lg-2 control-label">Nombre</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="nombre" placeholder="Introduce el nombre" th:field="*{nombre}" autofocus="autofocus"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Nombre incorrecto</span>
                                    </div>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('apellidos')}? 'has-error'">
                                    <label for="apellidos" class="col-lg-2 control-label">Apellidos</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="apellidos" placeholder="Introduce los apellidos" th:field="*{apellidos}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}">Apellidos incorrectos</span>
                                    </div>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('pais')}? 'has-error'">
                                    <label for="pais" class="col-lg-2 control-label">Pais</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="pais" placeholder="Introduce el pais" th:field="*{pais}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}">Pais incorrecto</span>
                                    </div>
                                </div>
                                 <div class="form-group" th:classappend="${#fields.hasErrors('ciudad')}? 'has-error'">
                                    <label for="ciudad" class="col-lg-2 control-label">Ciudad</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="ciudad" placeholder="Introduce la ciudad" th:field="*{ciudad}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}">Ciudad incorrecta</span>
                                    </div>
                                </div>
                              
                                
                               

                                <div class="contenedor-botones-inferiores-formulario"> 
                                    <div class="form-group">
                                            <button type="submit" class="btn btn-success pull-right" style="margin-right:10px">Guardar</button>
                                    </div>
                                </div>
                                <div class="form-group" >
       	                            <label for="imagen" class="col-lg-2 control-label">Imagen</label>
                                    <div class="col-lg-10">
                                        <input type="file" name="imagen" class="form-control file subir-archivo" id="imagen"/>
                                        <input type="hidden" th:field="*{urlImagen}" class="form-control" id="urlImagen"/>
                              
                                    </div>
                                </div>
                                <div class="form-group" >
       	                            <label for="file" class="col-lg-2 control-label">Archivo</label>
                                    <div class="col-lg-10">
                                        <input type="file" name="file" class="form-control file subir-archivo" id="file"/>
                              			<input type="hidden" th:field="*{urlArchivo}" class="form-control" id="urlArchivo"/>
                                    </div>
                                </div>
                                                                 
                            </fieldset>       
                            </form>                  
                    </div>    
                </div>    
            </div>
        </div>    
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>    
</div>
<script th:inline="javascript">
	
    $(function () {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        $(document).ajaxSend(function(e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
    });
    $( "#imagen" ).change(function() {
		 uploadFile([[@{/curriculum/ajaxuploadImage}+ '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}]], "#urlImagen")
	 });
    $( "#file" ).change(function() {
		 uploadFile([[@{/curriculum/ajaxuploadFile}+ '?' + ${_csrf.parameterName} + '=' + ${_csrf.token}]], "#urlArchivo")
	 });
	function uploadFile(url, elemento) {
     	$.ajax({
       url: url,
       data: new FormData($("#upload-file-form")[0]),
       type: "POST",
       enctype: 'multipart/form-data',
       processData: false,
       contentType: false,
       cache: false,
       success: function(data) {
    	   $(elemento).val(data);
       }
     });
   };
    
</script>
</body>
</html>