<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="../../../resources/js/jquery-latest.js" th:src="@{/resources/js/jquery-latest.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<h1>Resultados de búsqueda</h1>
  
    <table>
      <tr>
        <th>Id</th>
        <th>Usuario</th>
        <th>URL imagen</th>
        <th>URL file</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Experiencia</th>
        <th>Titulaciones</th>
        <th>Conocimientos</th>
      </tr>
      <tr th:each="curriculum : ${curriculos}">
        <td th:text="${curriculum.id}"></td>
        <td th:text="${curriculum.user != null} ? ${curriculum.user.email} : 'Ninguno'"></td>
        <td> <div  th:if="${curriculum.user != null}">
         <table>
        <tr th:each="role : ${curriculum.user.roles}">
   			 <td th:text="${role.descripcion}"></td>
    	</tr>
    	</table>
    	</div>
        </td>
        <td th:text="${curriculum.urlImagen}"></td>
        <td th:text="${curriculum.urlArchivo}"></td>
        <td th:text="${curriculum.nombre}"></td>
        <td th:text="${curriculum.apellidos}"></td>
        <td th:text="${curriculum.experiencia}"></td>
        <td>
        <table>
        <tr th:each="titulacion : ${curriculum.titulaciones}">
   			 <td th:text="${titulacion.descripcion}"></td>
    	</tr>
    	</table>
    	</td>
    	<td>
    	<table>
    	<tr th:each="conocimiento : ${curriculum.conocimientos}">
   			 <td th:text="${conocimiento.descripcion}"></td>
   			 <td th:text="${conocimiento.nivelConocimiento}"></td>
    	</tr>
    	</table>
        </td>
         <td><a th:href="@{/curriculum/show/} + ${curriculum.id}"><span>Ver detalle</span></a></td>
        <td><a th:href="@{/curriculum/edit/} + ${curriculum.id}"><span>Editar</span></a></td>
        <td><a th:href="@{/curriculum/delete/} + ${curriculum.id}"><span>Eliminar</span></a></td>
      </tr>
    </table>
  
    <p>
      <a href="../home.html" th:href="@{/}">Página principal</a>
    </p>


</body>
</html>