<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Red social profesional. PED14</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/custom.css" rel="stylesheet" media="screen" th:href="@{/resources/css/custom.css}" />
    <script src="../../../resources/js/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: usuario">&nbsp;</div>
<div class="container">
    <div class="row">
        <!-- /* Handle the flash message */-->
        <th:block th:if="${message != null}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
        </th:block>
        
        <div class="row contenedor-principal">
              <div th:include="fragments/lateral :: lateral">&nbsp;</div>

            <div class="col-md-9">
                <h2 class="titulo-pagina">Búsqueda de currículos</h2>
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h3 class="titulo-contenedor-formulario-login">Parámetros de búsqueda</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-narrow form-horizontal formulario-ficha" method="post" th:action="@{/curriculum/results}" th:object="${curriculumSearchForm}">
                            <!--/* Show general error message when form contains errors */-->
                            <th:block th:if="${#fields.hasErrors('${curriculumSearchForm.*}')}">
                                <div th:replace="fragments/alert :: alert (type='danger', message='El formulario contiene errores. Por favor, inténtalo de nuevo.')">Alert</div>
                            </th:block>
                            <fieldset>
                                
                                <div class="form-group" th:classappend="${#fields.hasErrors('pais')}? 'has-error'">
                                    <label for="pais" class="col-lg-2 control-label">Pais</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="pais" placeholder="Ej.: España" th:field="*{pais}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}">Pais incorrecto</span>
                                    </div>
                                </div>
                                 <div class="form-group" th:classappend="${#fields.hasErrors('ciudad')}? 'has-error'">
                                    <label for="ciudad" class="col-lg-2 control-label">Ciudad</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="ciudad" placeholder="Ej.: Santander" th:field="*{ciudad}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}">Ciudad incorrecta</span>
                                    </div>
                                </div>
                              <div class="form-group" th:classappend="${#fields.hasErrors('experiencia')}? 'has-error'">
                                    <label for="experiencia" class="col-lg-2 control-label">Experiencia</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="nombre" placeholder="Ej: 5" th:field="*{experiencia}" autofocus="autofocus"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('experiencia')}" th:errors="*{experiencia}">Experiencia incorrecta</span>
                                    </div>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('titulacion')}? 'has-error'">
                                    <label for="titulacion" class="col-lg-2 control-label">Titulación</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="titulacion" placeholder="Ej.: Grado en Ingeniería Informática" th:field="*{titulacion}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('titulacion')}" th:errors="*{titulacion}">TItulación incorrecta</span>
                                    </div>
                                </div>
                                 <div class="form-group" th:classappend="${#fields.hasErrors('conocimiento')}? 'has-error'">
                                    <label for="conocimiento" class="col-lg-2 control-label">Conocimiento</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="conocimiento" placeholder="Ej.: unix" th:field="*{conocimiento}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('conocimiento')}" th:errors="*{conocimiento}">Conocimiento incorrecto</span>
                                    </div>
                                </div>
                                 
                                <div class="contenedor-botones-inferiores-formulario"> 
                                    <div class="form-group">
                                            <button type="submit" class="btn btn-success pull-right" style="margin-right:10px">Buscar</button>
                                    </div>
                                </div>
                                                                 
                            </fieldset>
                        </form>                        
                    </div>    
                </div>    
            </div>
        </div>    
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>    
</div>   
</body>
</html>