<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detalle de currículum. PED14</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/custom.css" rel="stylesheet" media="screen" th:href="@{/resources/css/custom.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
	 <script type="text/javascript">
    	function likeAjax(id, url) {
      	$.ajax({
        url: url,
        data: ({id : id}),
        type: "GET",
        success: function(data) {
          $('#numeroLikes').html(data);
        }
      });
    }
  </script>
	
</head>
<body>
<div th:replace="fragments/header :: usuario">&nbsp;</div>
<div class="container">
    <div class="row">
        <!-- /* Handle the flash message */-->
        <th:block th:if="${message != null}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
        </th:block>
        
        <div class="row contenedor-principal">
            <div class="col-md-3">
               <div class="list-group">
                    <p href="#" class="list-group-item cabecera-menu-principal-izquierda"><strong>Opciones</strong></p>
                    <a class="list-group-item active" href="../home/curriculum/create.html" th:href="@{/curriculum/create}">Mi currículum</a>
                    <a href="/userOut" th:href="@{/}" class="list-group-item">Darme de baja</a>
                    <a class="list-group-item" href="/enableFields" th:href="@{/enableFields}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Gestionar funcionalidades</a>
                    <a class="list-group-item" href="/logout" th:href="@{#}" onclick="$('#form').submit();">Cerrar sesión</a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>                
                </div>
            </div> 

            <div class="col-md-9">
                <h2 class="titulo-pagina">Detalle de currículum</h2>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="titulo-contenedor-formulario-login">Información general</h3>
                    </div>
                    <div class="panel-body">
                      <table class="tabla-ficha table table-striped table-bordered">
                        <tbody>
                          <tr>
                            <td class="columna-30 td-small">Id</td>
                            <td class="columna-70 td-small" th:text="${curriculum.id}"></td>
                          </tr>
                          <tr>
                            <td class="columna-30 td-small">Nombre</td>
                            <td class="columna-70 td-small" th:text="${curriculum.nombre}"></td>
                          </tr>
                          <tr>
                            <td class="columna-30 td-small">Apellidos</td>
                            <td class="columna-70 td-small" th:text="${curriculum.apellidos}"></td>
                          </tr>
                          <tr>
                            <td class="columna-30 td-small">País</td>
                            <td class="columna-70 td-small" th:text="${curriculum.pais}"></td>
                          </tr>
                          <tr>
                            <td class="columna-30 td-small">Ciudad</td>
                            <td class="columna-70 td-small" th:text="${curriculum.ciudad}"></td>
                          </tr>

                        </tbody>
                      </table>
                    </div>    
                </div>

             


                <div class="panel panel-default">
                    <div class="panel-heading" style="height:68px;">
                      <div>
                        <div class="col-lg-9 pull-left">
                          <h3 class="titulo-contenedor-formulario-login">Experiencia profesional</h3>
                        </div>
                        <div class="col-lg-3 pull-right">
                          <a th:href="@{/experiencia/create/} + ${curriculum.id}" class="btn btn-success pull-right" style="margin-right:0px;margin-top:5px;">Nueva experiencia</a>
                        </div>
                      </div>
                    </div>
                     <div  th:if="${experiencias != null}">
                    <div class="panel-body">
                      <table class="tabla-ficha table table-striped table-bordered">
                        <tbody>
                          <tr>
                            <td class="columna-30 td-small">Total experiencia</td>
                            <td class="columna-70 td-small"><span th:text="${curriculum.experiencia}"></span><span> años</span></td>
                          </tr>
                        </tbody>
                      </table>
                      <h4>Trayectoria profesional</h4>
                      <table class="tabla-ficha table table-striped table-bordered">
                        <tbody>
                          <tr>
                            <th>Id</th>
                            <th>Cargo</th>
                            <th>Empresa</th>
                            <th>Descripción</th>
                            <th>Fecha inicio</th>
                            <th>Fecha fin</th>
                            <th colspan="2">Opciones</th>
                          </tr>

                          <tr th:each="experiencia : ${experiencias}">
                            <td th:text="${experiencia.id}"></td>
                            <td th:text="${experiencia.cargo}"></td>
                            <td th:text="${experiencia.empresa}"></td>
                            <td th:text="${experiencia.descripcion}"></td>
                             <td th:text="${#calendars.format(experiencia.fechaInicio,'dd/MM/yyyy')}"></td>
                             <td th:text="${#calendars.format(experiencia.fechaFin, 'dd/MM/yyyy')}"></td>
                            <td><a th:href="@{/experiencia/edit/} + ${experiencia.id}"><span>Editar</span></a></td>
                            <td><a th:href="@{/experiencia/delete/} + ${experiencia.id}"><span>Eliminar</span></a></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>  
                </div>

              </div>  

          

                <div class="panel panel-default">
                    <div class="panel-heading" style="height:68px;">
                      <div>
                        <div class="col-lg-9 pull-left">
                          <h3 class="titulo-contenedor-formulario-login">Titulaciones</h3>
                        </div>
                        <div class="col-lg-3 pull-right">
                          <a th:href="@{/titulacion/create/} + ${curriculum.id}" class="btn btn-success pull-right" style="margin-right:0px;margin-top:5px;">Nueva titulación</a>
                        </div>
                      </div>
                    </div>
                     <div  th:if="${titulaciones != null}">
                    <div class="panel-body">
                        <table class="tabla-ficha table table-striped table-bordered">
                          <tbody>
                            <tr>
                               <th>Id</th>
                               <th>Descripción</th>
                               <th>Año de finalización</th>
                               <th colspan="2">Opciones</th>
                            </tr>
                            <tr th:each="titulacion : ${titulaciones}">
                              <td th:text="${titulacion.id}"></td>
                              <td th:text="${titulacion.descripcion}"></td>
                              <td th:text="${titulacion.anyoFinalizacion}"></td>
                              <td><a th:href="@{/titulacion/edit/} + ${titulacion.id}"><span>Editar</span></a></td>
                              <td><a th:href="@{/titulacion/delete/} + ${titulacion.id}"><span>Eliminar</span></a></td>
                              <td><a class="like" th:onclick="'likeAjax(' + ${titulacion.id} +', \'/titulacion/like'+ '?' + ${_csrf.parameterName} + '=' + ${_csrf.token} + '\');'"><span>Me gusta</span></a><span id="numeroLikes" th:text="${titulacion.likes != null and titulacion.likes !=0} ? ${titulacion.likes} : ''"></span></td>
                            </tr>
                          </tbody>
                        </table>                          
                    </div>
                </div>
              </div>
 			
             

                <div class="panel panel-default">
                    <div class="panel-heading" style="height:68px;">
                      <div>
                        <div class="col-lg-9 pull-left">
                          <h3 class="titulo-contenedor-formulario-login">Cursos de formación</h3>
                        </div>
                        <div class="col-lg-3 pull-right">
                          <a th:href="@{/curso/create/} + ${curriculum.id}" class="btn btn-success pull-right" style="margin-right:0px;margin-top:5px;">Nuevo curso</a>
                        </div>
                      </div>
                    </div>
                     <div  th:if="${cursos != null}">
                    <div class="panel-body">
                        <table class="tabla-ficha table table-striped table-bordered">
                          <tbody>
                            <tr>
                                <th>Id</th>
                                <th>Descripción</th>
                                <th>Nº de horas</th>
                                <th>Fecha finalización</th>
                                <th colspan="2">Opciones</th>
                            </tr>
                            <tr th:each="curso : ${cursos}">
                              <td th:text="${curso.id}"></td>
                              <td th:text="${curso.descripcion}"></td>
                              <td th:text="${curso.numeroHoras}"></td>
                              <td th:text="${#calendars.format(curso.fechaFinalizacion, 'dd/MM/yyyy')}"></td>
                              <td><a th:href="@{/curso/edit/} + ${curso.id}"><span>Editar</span></a></td>
                              <td><a th:href="@{/curso/delete/} + ${curso.id}"><span>Eliminar</span></a></td>
                            </tr>                          
                          </tbody>
                        </table>                          
                    </div>
                </div>
              </div> 
              
                <div class="panel panel-default">
                    <div class="panel-heading" style="height:68px;">
                      <div>
                        <div class="col-lg-9 pull-left">
                          <h3 class="titulo-contenedor-formulario-login">Conocimientos</h3>
                        </div>
                        <div class="col-lg-3 pull-right">
                          <a th:href="@{/conocimiento/create/} + ${curriculum.id}" class="btn btn-success pull-right" style="margin-right:0px;margin-top:5px;">Nuevo conocimiento</a>
                        </div>
                      </div>
                    </div>
                     <div  th:if="${conocimientos != null}">
                    <div class="panel-body">
                        <table class="tabla-ficha table table-striped table-bordered">
                          <tbody>
                            <tr>
                                <th>Id</th>
                                <th>Descripción</th>
                                <th>Nivel</th>
                                <th colspan="2">Opciones</th>
                            </tr>
                            <tr th:each="conocimiento : ${conocimientos}">
                              <td th:text="${conocimiento.id}"></td>
                              <td th:text="${conocimiento.descripcion}"></td>
                              <td th:text="${conocimiento.nivelConocimiento}"></td>
                              <td><a th:href="@{/conocimiento/edit/} + ${conocimiento.id}"><span>Editar</span></a></td>
                              <td><a th:href="@{/conocimiento/delete/} + ${conocimiento.id}"><span>Eliminar</span></a></td>
                            </tr>                          
                          </tbody>
                        </table>                          
                    </div>
                </div>
              </div>                     
            </div>
        </div>    
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>    
</div>   

</body>
</html>