<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Red social profesional. PED14</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/custom.css" rel="stylesheet" media="screen" th:href="@{/resources/css/custom.css}" />    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>

<script type="text/javascript">
    //Gestionamos los focos en las pestañas
    $(document).ready(function () 
    {
        $('#opciones-edicion').on('shown.bs.collapse', function () {
            //HECTOR:paso el foco al primer elemento del formulario al desplegar el collapse
            $('#pais').focus();
        })
    });
</script>

<div th:replace="fragments/header :: header">Header</div>
<div class="container">
    <div class="row">
        <!-- /* Handle the flash message */-->
        <th:block th:if="${message != null}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
        </th:block>

        <h1>Bienvenido a la red social profesional</h1>
        <div class="alert alert-success" role="alert">
            <h4>Regístrate y publica tu propio currículum</h4>
            <p>Si te registras, podras crear tu propio perfil profesional, en el que podrás tus titulaciones, experiencia profesionanal o cursos realizados.</p>
            <a class="btn btn-success btn-mostrar-registro" href="/signup" th:href="@{/signup}">
                Regístrate
            </a>           
        </div>        

        <div class="alert alert-success" role="alert">
            <h4>Encuentra a tu candidato</h4>
            <p>A continuación se muestran los curriculums disponibles. Para buscar currículums por diferentes parámetros, puedes pulsar el boton "Mostrar opciones de filtrado".</p>
            <a class="btn btn-success btn-mostrar-filtrado" data-toggle="collapse" href="#opciones-edicion" aria-expanded="false" aria-controls="collapseExample">
                Mostrar opciones de filtrado
            </a>
            
            <div class="collapse" id="opciones-edicion">
            <div class="formulario-opciones-filtrado">
                        <form class="form-narrow form-horizontal formulario-ficha" method="post" th:action="@{/curriculum/results}" th:object="${curriculumSearchForm}">
                            <!--/* Show general error message when form contains errors */-->
                            <th:block th:if="${#fields.hasErrors('${curriculumSearchForm.*}')}">
                                <div th:replace="fragments/alert :: alert (type='danger', message='Form contains errors. Please try again.')">Alert</div>
                            </th:block>
                            <fieldset>
                                
                                <div class="form-group" th:classappend="${#fields.hasErrors('pais')}? 'has-error'">
                                    <label for="pais" class="col-lg-2 control-label">País</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="pais" placeholder="Ej.: España" th:field="*{pais}" autofocus="autofocus"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}">País incorrecto</span>
                                    </div>
                                </div>
                                 <div class="form-group" th:classappend="${#fields.hasErrors('ciudad')}? 'has-error'">
                                    <label for="ciudad" class="col-lg-2 control-label">Ciudad</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="ciudad" placeholder="Ej.: Santander" th:field="*{ciudad}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}">Ciudad incorrecta</span>
                                    </div>
                                </div>
                              <div class="form-group" th:classappend="${#fields.hasErrors('experiencia')}? 'has-error'">
                                    <label for="experiencia" class="col-lg-2 control-label">Experiencia</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="nombre" placeholder="Ej.: 5" th:field="*{experiencia}" />
                                        <span class="help-block" th:if="${#fields.hasErrors('experiencia')}" th:errors="*{experiencia}">Experiencia incorrecta</span>
                                    </div>
                                </div>
                                <div class="form-group" th:classappend="${#fields.hasErrors('titulacion')}? 'has-error'">
                                    <label for="titulacion" class="col-lg-2 control-label">Titulación</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="titulacion" placeholder="Ej.: Ingeniería informática" th:field="*{titulacion}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('titulacion')}" th:errors="*{titulacion}">TItulación incorrecta</span>
                                    </div>
                                </div>
                                 <div class="form-group" th:classappend="${#fields.hasErrors('conocimiento')}? 'has-error'">
                                    <label for="conocimiento" class="col-lg-2 control-label">Conocimiento</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" id="conocimiento" placeholder="Ej.: java" th:field="*{conocimiento}"/>
                                        <span class="help-block" th:if="${#fields.hasErrors('conocimiento')}" th:errors="*{conocimiento}">Conocimiento incorrecto</span>
                                    </div>
                                </div>
                                 
                                <div class="contenedor-botones-inferiores-formulario"> 
                                    <div class="form-group">
                                            <button type="submit" class="btn btn-success pull-right" style="margin-right:10px">Buscar</button>
                                    </div>
                                </div>
                                                                 
                            </fieldset>
                        </form>                        
                
            </div>
           
            </div>
            
             </div>
              <div  th:if="${notFound == true}">
              <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <h4>No se encontraron coincidencias</h4>
            <p>Verifica las condiciones de búsqueda, recordando que los términos de búsqueda se deben introducir de la forma más completa y correcta posible (ej: incluir tildes, género de las palabras, etc.)</p>
                  
        </div>       
        </div>
         <div  th:if="${notFound == false or notFound == null}">        
        <h2>Currículos en la red</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Id</th>
                  <th>Usuario</th>
                  <th>Nombre</th>
                  <th>Apellidos</th>
                  <th>Experiencia</th>
                  <th>Titulaciones</th>
                  <th>Conocimientos</th>
                </tr>
            </thead>
            <tbody>

              <tr th:each="curriculum : ${curriculos}">
                <td th:text="${curriculum.id}"></td>
                <td th:text="${curriculum.user != null} ? ${curriculum.user.email} : 'Ninguno'">-</td>
                <td th:text="${curriculum.nombre}"></td>
                <td th:text="${curriculum.apellidos}"></td>
                <td th:text="${curriculum.experiencia}"></td>
                <td>
                    <table style="margin-top:-10px;border:none;">
                        <tr th:each="titulacion : ${curriculum.titulaciones}">
                            <td class="td-varios" th:text="${titulacion.descripcion}"></td>
                        </tr>
                    </table>
                </td>
              <td>
              <table style="margin-top:-10px;border:none;">
              <tr th:each="conocimiento : ${curriculum.conocimientos}">
                 <td class="td-varios" th:text="${conocimiento.descripcion}"></td>
                 <td class="td-varios" th:text="${conocimiento.nivelConocimiento}"></td>
              </tr>
              </table>
                </td>
                 <td><a th:href="@{/curriculum/show/} + ${curriculum.id}"><span>Ver detalle</span></a></td>
                   
              </tr>

            </tbody>            
        </table>
	</div>

    </div>
    <div th:replace="fragments/footer :: footer"></div>
</div>
</body>
</html>
