<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Baja de currículum. PED14</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/custom.css" rel="stylesheet" media="screen" th:href="@{/resources/css/custom.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
	
	
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="row">
             
       
            <div class="alert alert-success" role="alert">
            <h4>Se ha dado de baja en la aplicación correctamente.</h4>
            <p>Si lo desea, puede volver a consultar el listado de candidatos en nuestra red social pinchando en el botón <strong>Volver al inicio</strong>.</p>
                  <a  href ="/" class="btn btn-success" style="margin-top:20px;color:#fff!important;">Volver al inicio</a>
        </div>    
            </div>

           </div>
           
    <div th:replace="fragments/footer :: footer">&copy; 2013 The Static Templates</div>    
   

</body>
</html>