<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<h1>Titulaciones disponibles</h1>
  
    <table>
      <tr>
        <th>Id</th>
        <th>Descripción</th>
      </tr>
      <tr th:each="titulacion : ${titulaciones}">
        <td th:text="${titulacion.id}"></td>
        <td th:text="${titulacion.descripcion}"></td>
        <td><a th:href="@{/titulacion/edit/} + ${titulacion.id}"><span>Editar</span></a></td>
        <td><a th:href="@{/titulacion/delete/} + ${titulacion.id}"><span>Eliminar</span></a></td>
      </tr>
    </table>
  
    <p>
      <a href="../home.html" th:href="@{/}">Página principal</a>
    </p>


</body>
</html>