<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body>
<h1>Experiencia Profesional</h1>
  
    <table>
      <tr>
        <th>Id</th>
        <th>Cargo</th>
        <th>Empresa</th>
        <th>Descripción</th>
        <th>Fecha inicio</th>
        <th>Fecha fin</th>
      </tr>
      <tr th:each="experiencia : ${experiencias}">
        <td th:text="${experiencia.id}"></td>
         <td th:text="${experiencia.cargo}"></td>
         <td th:text="${experiencia.empresa}"></td>
        <td th:text="${experiencia.descripcion}"></td>
        <td th:text="${#calendars.format(experiencia.fechaInicio, 'dd/MM/yyyy')}"></td>
        <td th:text="${#calendars.format(experiencia.fechaFin, 'dd/MM/yyyy')}"></td>
        <td><a th:href="@{/experiencia/edit/} + ${experiencia.id}"><span>Editar</span></a></td>
        <td><a th:href="@{/experiencia/delete/} + ${experiencia.id}"><span>Eliminar</span></a></td>
      </tr>
    </table>
  
    <p>
      <a href="../home.html" th:href="@{/}">Página principal</a>
    </p>


</body>
</html>