<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Baja de currículum. PED14</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/custom.css" rel="stylesheet" media="screen" th:href="@{/resources/css/custom.css}" />
    <script src="../../../resources/js/jquery-latest.js" th:src="@{/resources/js/jquery-latest.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
	
	
</head>
<body>
<!-- /* Handle the flash message */-->
        <th:block th:if="${message != null}">
            <!-- /* The message code is returned from the @Controller */ -->
            <div th:replace="fragments/alert :: alert (type=${#strings.toLowerCase(message.type)}, message=#{${message.message}(${#authentication.name})})">&nbsp;</div>
        </th:block>
 
<div th:replace="fragments/header :: header">Header</div>
<div class="container">
        <div class="row contenedor-principal">
             <div class="col-md-3">
                <div class="list-group">
                    <p href="#" class="list-group-item cabecera-menu-principal-izquierda"><strong>Opciones</strong></p>
                <div  th:if="${hasCurriculum == true or curriculum != null}">
                    <a class="list-group-item" th:href="@{/curriculum/show/} + ${curriculumId}">Mi currículum</a>
                </div>
                <div  th:if="${hasCurriculum != true or curriculum == null}">                    
                    <a class="list-group-item" th:href="@{/curriculum/create}">Crear currículum</a>
                </div>
                <div  th:if="${hasCurriculum == true}">                    
                    <a class="list-group-item" th:href="@{/curriculum/show/} + ${curriculumId}">Editar currículum</a>
                </div>
                <a th:href="@{/account/userOut}" th:if="${!#authorization.expression('hasRole(''ROLE_ADMIN'')')}" class="list-group-item">Darme de baja</a>
                <a class="list-group-item active" style="border-radius:0px;" th:href="@{/admin/delete}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Dar de baja a usuarios</a>
                <a class="list-group-item" th:href="@{/admin/view}" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Gestionar funcionalidades</a>
                                
                <a class="list-group-item" href="/logout" th:href="@{#}" onclick="$('#form').submit();">Cerrar sesión</a>
                <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>                
            </div>
                        
            </div>
            <div class="col-md-9">

                <h2 class="titulo-pagina">Listado de usuarios del sistema</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Usuario</th>
                        <th>Roles</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Opciones</th>
                           
                    </tr>
                    </thead>
                    
                    <tbody>
                        <tr th:each="usuario : ${usuarios}">
                            <td th:text="${usuario.id}"></td>
                            <td th:text="${usuario.email != null} ? ${usuario.email} : 'Ninguno'"></td>
                            <td style="padding:0px;">
                             <table style="font-size:10px;">
                            
                            <tr th:each="role : ${usuario.roles}">
                       			 <td style="border:none;" th:text="${role.descripcion}"></td>
                        	</tr>
                        	
                        	</table>
                        	
                            </td>
                            
                            <td th:text="${usuario.curriculum != null} ? ${usuario.curriculum.nombre} : '--'"></td>
                            <td th:text="${usuario.curriculum != null} ? ${usuario.curriculum.apellidos} : '--'"></td>
                         
                            <td><a th:if="${!(usuario.email == 'admin@admin.com')}" th:href="@{/admin/account/delete/} + ${usuario.id}"><span>Eliminar</span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    
    <div th:replace="fragments/footer :: footer"></div>    
</div>
</body>
</html>