<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8"/>

<head>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
   

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="logo" src="../../../resources/images/uned.png"></img>Red social profesional</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#" th:href="@{/}">Inicio</a></li>
                <li><a href="#memoria">Memoria</a></li>
                <li><a th:href="@{/grupo}">Grupo</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authentication}?${#authorization.expression('!isAuthenticated()')}">
                    <a class="pull-right"  th:href="@{/signup}">Registrate</a>                    
                    <a class="pull-right" th:href="@{/signin}">Iniciar sesión</a>
                </li>
                <li th:if="${#authentication}?${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">Cerrar sesión</a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<!-- Si entra un usuario que esta dado de alta en el sistema podra modificar su cv, darse de baja o buscar cv de otros usuarios -->

<div class="navbar navbar-inverse navbar-fixed-top" th:fragment="usuario">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="logo" src="../../../resources/images/uned.png"></img>Red social profesional</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">             
                <li class="active"><a href="#" th:href="@{/}">Inicio</a></li>
                <li><a href="#memoria">Memoria</a></li>
                <li><a th:href="@{/grupo}">Grupo</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">                
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">Cerrar sesión</a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>           
            <!--
            <div th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                This will only be displayed if authenticated user has role ROLE_ADMIN.
            </div> -->
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
</body>
</html>